* text=auto
.github/ export-ignore
.husky/ export-ignore
.vscode/ export-ignore
node_modules/ export-ignore
reports/ export-ignore
archive/ export-ignore
*.backup export-ignore
patch.diff* export-ignore
src/assets/*.png export-ignore
inkwell-src-*.zip export-ignore
