@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font fallback and base layout tweaks */
body {
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;

  @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-white;
}

#root {
  @apply max-w-screen-xl mx-auto px-8 py-10;
}

/* Logo styling */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
